KERNEL=="ttyUSB*" ,KERNELS=="2-2.1" ,ATTRS{idProduct}=="7523" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK+="WTRTK"

KERNEL=="ttyUSB*" ,KERNELS=="2-2.2" ,ATTRS{idProduct}=="7523" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK+="CAN-pyserial"
#KERNEL=="ttyUSB*" ,KERNELS=="2-1.2" ,ATTRS{idProduct}=="7523" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK+="battery-weather"
#SUBSYSTEM=="tty", KERNEL=="ttyUSB*" ,KERNELS=="7-1:1.2" ,MODE:="0777", SYMLINK+="4G-modem"
#SUBSYSTEM=="tty", KERNEL=="ttyUSB*" ,KERNELS=="7-1:1.3" ,MODE:="0777", SYMLINK+="4G-time-sync"
#KERNEL=="ttyACM*" ,KERNELS=="4-1" ,ATTRS{idProduct}=="55d4" ,ATTRS{idVendor}=="1a86" ,MODE:="0777" ,SYMLINK ="SENSOR0"