<launch>
  <!-- 电机控制节点 -->
  <node pkg="gps" type="MotorControlNode.py" name="motor_control_node" output="screen">
    <param name="~rtk_path_file" value="/home/ubuntu/rtk_nav/src/gps/cleaning_path/cleaning_path_20251121_173149.txt"/>
  </node>
  <!-- RTK实时消息解析 -->
  <!-- <node pkg="gps" type="wtrtk_serial_driver.py" name="wtrtk_serial_driver" > -->
    <!-- <param name="port" value="/dev/WTRTK"/> -->
    <!-- <param name="baud" value="460800"/> -->
  <!-- </node> -->
  <!-- RTK录制的消息解析 -->
  <node pkg="gps" type="wtrtk_parse_txt.py" name="wtrtk_parse_txt" output="screen"/>

  <!-- 新场景第一步：cleaning_path_planner规划清扫路径 -->
  <!-- <node pkg="gps" type="cleaning_path_planner.py" name="cleaning_path_planner" output="screen"> -->
    <!-- <param name="~corner1/lon" value="120.06910407" />
    <param name="~corner1/lat" value="30.32000295" />
    <param name="~corner2/lon" value="120.06706355" />
    <param name="~corner2/lat" value="30.32097315" />
    <param name="~interval" value="4" />
    <param name="~edge_distance_lon" value="10" />
    <param name="~edge_distance_lat" value="10" /> -->
  <!-- </node> -->
</launch>
